@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 2
   
   Author:Audrey Sparks
   Date: October 31,2019
   
   Filename: wc_styles.css

   This file contains the layout styles and media
   queries used with sample pages from the Willet
   Creek Golf Course website.

*/


/* Import Design Styles */
@import url("wc_designs.css");

/* Flex Layout Styles */
body{
   display: -webkit-flex;
   display: flex;

   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}
nav a#hole_list{
   -webkit-flex: 1 3 140px;
   flex:1 3 140px;
}
article{
   -webkit-flex: 3 1 341px;
   flex:3 1 341px;
}

/* =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/





/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/

